.about-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about-container .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-container .header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-container .header p {
    color: var(--secondary-color);
    width: 80%;
    line-height: 1.7;
}

.about-container .info-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem 0;
}

.about-container .info-container .info,
.about-container .info-container .info a {
    color: #edeafa;
}

.about-container .info-container .info span {
    margin-right: 1rem;
    font-size: .8rem;
    text-transform: capitalize;
    color: var(--third-color);
    font-weight: 700;
}

@media only screen and (min-width: 1122px) and (max-width: 1603px) {
    .about-container .header h1 {
        font-size: 1.8rem;
        margin-bottom: .5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-container .header p {
        width: 100%;
    }

    .about-container .header h1 {
        font-size: 2rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (max-width: 767px) {

    .about-container .header h1 {
        font-size: 1.8rem;
        margin-bottom: 0rem;
    }

    .about-container .header p {
        width: 100%;
        line-height: 1.6;
    }


}