@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "JetBrains Mono", serif;
  --main-color: #09f7a3;
  --secondary-color: #cececf;
  --third-color: #646369;
  --hover-color: #00e187;
  --background-color: #1c1c22;
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

/* Medium screens (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 85%;
  }
}


/* Large screens (992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 75%;
  }
}