@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "JetBrains Mono", serif;
  --main-color: #09f7a3;
  --secondary-color: #cececf;
  --third-color: #646369;
  --hover-color: #00e187;
  --background-color: #1c1c22;
  --text-color: #ffffff;
  --main-transistion: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  padding-top: 3rem;
}

/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
  section {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}

::selection {
  background-color: var(--hover-color);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

/* Medium screens (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 85%;
  }
}


/* Large screens (992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 70%;
  }
}

.main-btn {
  background-color: var(--main-color);
  color: #1c1c22;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  transition: var(--main-transistion);
  -webkit-transition: var(--main-transistion);
  -moz-transition: var(--main-transistion);
  -ms-transition: var(--main-transistion);
  -o-transition: var(--main-transistion);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-weight: 700;
  width: fit-content;
  font-size: 1rem;
}

.main-btn:hover {
  background-color: var(--hover-color);
}

.second-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  transition: var(--main-transistion);
  -webkit-transition: var(--main-transistion);
  -moz-transition: var(--main-transistion);
  -ms-transition: var(--main-transistion);
  -o-transition: var(--main-transistion);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  font-weight: 600;
  width: 12rem;
  font-size: 1rem;
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  text-transform: uppercase;
}

.second-btn:hover {
  background-color: var(--main-color);
  color: #1c1c22;
}

@media only screen and (max-width: 767px) {
  .second-btn {
    font-size: .7rem;
  }
}

/* Medium screens (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .second-btn {
    font-size: .7rem;
    width: 10rem;
  }
}