.contact-section .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 5rem;
    align-items: center;
}



.contact-section .container .contacts-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-section .container .contacts-info .contact-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact-section .container .contacts-info .contact-info .contact-icon {
    font-size: 2rem;
    background-color: #28272e;
    color: var(--main-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.contact-section .container .contacts-info .contact-info .contact-text {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.contact-section .container .contacts-info .contact-info .contact-text span {
    color: var(--secondary-color);
    font-size: .8rem;
}
.contact-section .container .contacts-info .contact-info .contact-text p{
    font-size: 1rem;
}
.contact-section .container .contacts-info .contact-info .contact-text a {
    color: var(--text-color);
}

.contact-section .container .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #28272e;
    padding: 2rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.contact-section .container .contact-form .form-heading {
    font-size: 2rem;
    color: var(--main-color);
}

.contact-section .container .contact-form .form-desc {
    color: var(--secondary-color);
    font-size: 1rem;
}

.contact-section .container .contact-form .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-section .container .contact-form .form .inputs-container {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.contact-section .container .contact-form .form .inputs-container .input-error {
    width: 100%;

}

.contact-section .container .contact-form .form input,
.contact-section .container .contact-form .form textarea {
    padding: 1rem;
    background-color: transparent;
    color: var(--text-color);
    outline: none;
    border: 1px solid transparent;
    background-color: var(--background-color);
    resize: none;
    width: 100%;
    transition: var(--main-transistion);
    -webkit-transition: var(--main-transistion);
    -moz-transition: var(--main-transistion);
    -ms-transition: var(--main-transistion);
    -o-transition: var(--main-transistion);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contact-section .container .contact-form .form input:focus,
.contact-section .container .contact-form .form textarea:focus {
    border: 1px solid var(--main-color);
}


@media only screen and (max-width: 767px) {
    .contact-section .container .contact-form {
        padding: 1.5rem;
        gap: 1rem;
    }
    .contact-section .container .contact-form .form {
        gap: 1rem;
    }
    .contact-section .container .contact-form .form-heading {
        font-size: 1.5rem;
    }
    .contact-section .container .contacts-info .contact-info .contact-text p{
        font-size: .9rem;
    }
    .contact-section .container .contact-form .form-desc {
        font-size: .9rem;
    }
    .contact-section .container .contacts-info {
        gap: 1.5rem;
    }
}

/* Medium screens (768px - 991px) */
@media only screen and (max-width: 967px) {
    .contact-section .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .contact-section .container .contacts-info {
        width: 100%;
    }
}


@media only screen and (min-width: 968px) and (max-width: 1214px) {
    .contact-section .container {
        gap: 3rem;
    }

}